<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.home.dao.BoardDAO">
	<insert id="boardWriteOk">
		insert into board(no, subject, content, userid, hit, writedate, ip)
		values(boards_num_seq.nextval, #{subject}, #{content}, #{userid}, 0, sysdate, #{ip})
	</insert>
	<select id="boardList" resultType="com.smart.home.dto.BoardDTO">
		select * from
			(select * from
				(select no, subject, userid, hit, 
				to_char(writedate, 'MM-DD HH:MI') writedate 
				from board
				order by no desc) 
			where <![CDATA[rownum<=${nowPage*onePageRecord}]]> order by no asc)
		where <![CDATA[rownum<=${onePageRecord}]]> order by no desc
	</select>
	<select id="totalRecord" resultType="int">
		select count(no) cnt from board
	</select>
</mapper>