<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.smart.home.dao.ReplyDAO">
	<insert id="replyInsert">
		insert into replyboard(re_no, no, coment, userid, writedate)
		values(reply_no_seq.nextval, ${no}, #{coment}, #{userid}, sysdate)
	</insert>
  
  	<select id="replySelect" resultType="com.smart.home.dto.ReplyDTO">
  		select re_no, coment, userid, writedate
  		from replyboard where no=${param1}
  		order by re_no desc
  	</select>
  	
  	<update id="replyUpdate">
  		update replyboard set coment=#{coment}
  		where re_no=${re_no} 
  	</update>
  	
  	<delete id="replyDel">
  		delete from replyboard
  		where re_no=${param1}
  	</delete>
  </mapper>
  
  
  
  
  