@charset "UTF-8";
body, ul, li {
	margin:0; 
	padding:0px; 
	list-style-type:none; /* 초기화 */
}
body { 
  min-height: 100vh;
  height:1000px;
  display: flex;
  flex-direction: column;
}

main {
  max-width: 1500px;
  margin: 0 auto;
  flex-grow: 1;
}
.Logo {
	height:100px;
	line-height:100px;
	font-size:3em;
	text-align:center;
}
.Logo a:link, .Logo a:visited, .Logo a:hover {
	text-decoration:none;
	color:black;
}

nav>ul {
	list-style-type: none;
}

footer{
	background:#ddd;
	text-align:center;
	line-height:80px;
	width:100%;
}

