<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form name="myform">
        {% csrf_token %}
        <p>{{ form.as_p }}</p>
        <button type="text" id="btnsave">등록</button>
    </form>
</body>
<script>
    
    let btnsave = document.getElementById("btnsave");
    btnsave.addEventListener('click', () => {
        let frm = document.myform;
        frm.action="/study/save/";
        frm.method='POST';
        frm.submit(); // 서버로 전송
    })
</script>
</html>
