{% extends 'base.html' %}
{% block content %}



        <div class="container mt-5">
            <table class="table">
                <colgroup>
                    <col width="13%"/>
                    <col width="20%"/>
                    <col width="13%"/>
                    <col width="20%"/>
                    <col width="13%"/>
                    <col width="20%"/>
                </colgroup>
                <tbody>
                    <tr>
                        <th>제목</th>
                        <td colspan="5">{{boardItem.title}}</td>
                    </tr>
                    <tr>
                        <th>작성자</th>
                        <td>{{boardItem.writer}}</td>
                        <th>작성일</th>
                        <td>{{boardItem.wdate}}</td>
                        <th>조회수</th>
                        <td>{{boardItem.hit}}</td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <!-- textarea의 \n -> </br>로 바꿔주는 필터 -->
                        <!-- 필터정리사이트
                            ttps://devlink.tistory.com/306 -->
                        <td colspan="5">{{boardItem.contents|linebreaks}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container mt-5" style="text-align: right;">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" id="btnModify">수정</button>
                <button type="button" class="btn btn-primary" id="btnDelete">삭제</button>
                <button type="button" class="btn btn-primary" id="btnList">목록</button>
            </div>
        </div>
    
    <form action="">
        <label for="writer" class="form-label">작성자:</label>
        <input type="text" class="form-control" id="writer" placeholder="Enter writer" name="writer" required>
        <textarea name="review" id="review" cols="30" rows="10"></textarea>
        <button id="btnreview"></button>
    </form>
<script>
function goPage(pg)
{
    // 자바스크립로 페이지 이동 - get 방식으로 간단히 이동할때
    location.href="/board/list2/"+pg;

    // 이게 아닐경우에는 form태그 참조를 가져와서 사용한다.
}

$(document).ready( ()=> {
    $('#btnWrite').click(()=>{
        // 화살표함수는  this 사용 불가
        $("#myform").prop('action', '/board/write');
        $('#myform').prop('method', 'post');
        $('#myform').submit();
    });
})

$(document).ready( ()=> {
    $('#btnWrite').click(()=>{
        // 화살표함수는  this 사용 불가
        $("#myform").prop('action', '/board/review');
        $('#myform').prop('method', 'post');
        $('#myform').submit();
    });
})
</script>

{% endblock %}