{% extends 'base.html' %}
{% block content %}



        <div class="container mt-5">
            <table class="table">
                <colgroup>
                    <col width="8%"/>
                    <col width="*"/>
                    <col width="12%"/>
                    <col width="12%"/>
                    <col width="8%"/>
                </colgroup>
                <thead class="table-secondary">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                    {% for boardItem in boardList %}
                    <tr>
                        <td>{{boardItem.id}}</td>
                        <td><a href="/board/view/{{boardItem.id}}">{{boardItem.title}}</a></td>
                        <td>{{boardItem.writer}}</td>
                        <td>{{boardItem.wdate}}</td>
                        <td>{{boardItem.hit}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        {% include "./paging.html" %}

        <div class="container mt-5" style="text-align: right;">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" id="btnWrite">글쓰기</button>
            </div>
        </div>

<script>
function goPage(pg)
{
    // 자바스크립로 페이지 이동 - get 방식으로 간단히 이동할때
    location.href="/board/list2/"+pg;

    // 이게 아닐경우에는 form태그 참조를 가져와서 사용한다.
}

$(document).ready( ()=> {
    $('#btnWrite').click(()=>{
        // 화살표함수는  this 사용 불가
        $("#myform").prop('action', '/board/review_write');
        $('#myform').prop('method', 'post');
        $('#myform').submit();
    });
})
</script>

{% endblock %}