body {
    margin:0;
}

.wrapper {
    margin:0;
}

ul {
    margin:0;
}

header {
    background-color: cadetblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:10vh;
    margin:0;
}

header ul {
    display: flex;
    margin:0;
}

header li {
    list-style:none;
    margin:0 20px;
    color:white;
    font-weight: 900;
    cursor:pointer;
    padding:3px;
    transition:all 0.5s;
}

header li:hover {
    background-color:darkcyan;
    border-radius:5px;
}

.dropdown-card {
    background-color: cadetblue;
    margin:0;
    width:200px;
    position:relative;
    left:20vw;
    height:200px;
}

.dropdown {
    display: none;
}

.show {
    display:block;
}

/* 여기까지 메인페이지 */

/* 여기부터 모달창 */

.alert {
    background-color: rgba(100, 100, 100, 0.6);
    position:absolute;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
}

.show2 {
    display:flex;
}

.box {
    background-color: white;
    width:200px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}